<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Admin</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <section class="login">
      <h2>Login Admin</h2>
      <form action="/login" method="post">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          value="admin"
        />

        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          value="123456"
        />

        <button type="submit">Login</button>
      </form>
    </section>
  </body>
</html>
